		label {
			display: block;
			margin-bottom: 10px;
		}
		input[type="text"] {
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-size: 16px;
			width: 100%;
			box-sizing: border-box;
		}

		/* Style the button */
		button {
			padding: 10px 20px;
			background-color: #4CAF50;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		button:hover {
			background-color: #3e8e41;
		}
		
		/* Style the iframe */
		iframe {
			width: 500px;
			height: 0;
			padding: 0;
			border: none;
		}

